.home {
    height: 100vh;
    background: url('../img/header.jpg') bottom center;
    background-size: cover;
    position: relative;
}

.main {
    height: 100%;
    overflow: hidden;
}

.about {
    background: $white;
}
.about .row {
    min-height: 600px;
}

.portfolio {
    height: 100%;
    background: $black;
}

.contacts {
  height: 50vh;
  background: $dark-blue;
}

.footer {
  height: 100px;
  background: $blue;
}