.home {
    height: 100vh;
    background: url('../../img/header.jpg') bottom center;
    background-size: cover;
    position: relative;
}

.main {
    height: 100%;
}

.about {
    background: $white;
    min-height: 400px;
}

.portfolio {
    height: 100%;
    background: $dark-blue;
}