.about-pic {
    padding: 0;
}

.about-pic img {
    width: 100%;
}

.about-text {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    margin: 0 50px;
}

.about-text p {
    text-align: center;
    max-width: 1000px;
    margin:auto;
}

.about-text h2 {
    @include lines(20%, $dark-blue);
    margin-bottom: 30px
}