.h-name{
    position: absolute;
    top: 47%;
    left: 0;
    right: 0;
    margin: auto 0;
    transform: translateY(-50%);
}

.h-name-container{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0px 25px;
    margin: 5px 0;
    transition: 0.5s;
}

.h-name-char {
    letter-spacing:5px;
    display: inline-block;
    font-size: $font-largest;
    opacity: 1;
    transition: 0.5s;
}

.h-name-char-hidden {
    opacity: 0;
    transform: scale(5);
}

.h-profession{
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;
    opacity: 1;
    transition: 1s;
}

.h-profession-hidden{
    top:100%;
    opacity: 0;
}