.title {
    text-align: center;
    text-transform: uppercase;
}

.font-white {
    color: #FFF;
}

.hidden {
    opacity: 0;
}

.delay {
    @for $i from 0 through 20 {
        &-#{$i}{
            @include delay($i);
        }
    }
}
