@mixin delay($delay) {
    transition-delay: $delay/10+s !important;
}

@mixin lines($percent, $color) {
    &::before,
    &::after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        width: $percent;
        height: 3px;
        background: $color;
        @if $color==$dark-blue {
            border: solid $white
        }
        @else {
            border: solid $dark-blue
        }
        border-width: 0 10px;
    }
    &::before {
        margin-left: -100%;
    }
    &::after {
        margin-right: -100%;
    }
}