@mixin delay($delay) {
    transition-delay: $delay/10+s !important;
}

@mixin lines($length, $color, $background) {
    &::before,
    &::after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        width: $length;
        height: 3px;
        background: $color;
        border: solid $background;
        border-width: 0 10px;
    }
    &::before {
        margin-left: -100%;
    }
    &::after {
        margin-right: -100%;
    }
}